.answer-section {
  display: flex;
  flex-direction: column;
}
.option {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-transform: none;
}
.option.selected {
  background-color: #87ceeb;
}
.next-question-button {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #3dc593;
  cursor: pointer;
}
.question-count {
  margin-top: 100px;
  margin-bottom: 15px;
}
.question-count-class {
  font-size: 30px;
}
.question-text {
  font-size: 20px;
  margin-bottom: 12px;
}
